.featured-item {
    position: relative;
    background-image: url('../../../assets/home/featured.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.featured-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black; /* Black overlay */
    opacity: 0.4; /* 40% opacity */
    z-index: 1; /* Place behind the content */
}
